@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@layer base {

    *,
    ::before,
    ::after {
        border-radius: 0px !important;
    }
}

@layer components {
    .glass-panel {
        @apply bg-white/10 dark:bg-black/10 backdrop-blur-md border border-white/20 dark:border-white/10 shadow-lg;
    }
}